---
layout: default
title: Página inicial
---
{% for post in site.posts %}
<article class="article-list {% if forloop.first %}first{% elsif forloop.last %}last{% else %}middle{% endif %}">
	{% if post.banner %}
	<figure class="banner-post">
		<a title="Acessar o texto '{{ post.title }}'" href="{{site.url}}{{ post.url }}">
			<img src="{{site.url}}/img/posts/{{post.banner}}" title="{{ post.title }}" alt="{{post.alt}}">
		</a>
	</figure>{% else%} {% endif%}

	<header class="article-head">
		<h2 class="title"><a title="Acessar o texto '{{ post.title }}'"
				href="{{site.url}}{{ post.url }}">{{ post.title }}</a></h2>
		<span class="post-date">{{ post.date | date: "%d/%m/%Y" }} &bull; {{post.category | capitalize}}</span>
	</header>
	<!--/.article-head-->
	<div class="article-content">
		{{ post.content | strip_html | truncatewords:  50 }}
		<a href="{{site.url}}{{ post.url }}" title="Clique para continuar lendo o '{{ post.title }}'"
			class="post-completo">Continue lendo</a>
	</div>
	<!--/.article-content-->
</article>
{% if forloop.last %}{% else %}
<hr>{% endif %}
{% endfor %}