---
layout: page
title: Sobre
slugy: sobre
---


<p><img src="{{site.url}}/img/3x4.jpg" title="Foto de rosto do Thiago" alt="Foto de rosto do Thiago">Meu objetivo é
    transformar o mundo através da agilidade e buscar mudanças mais que revolucionárias… mudanças evolucionárias!
    atualmente envolvido num extenso processo de autoconhecimento e frequente estímulo para manter o meu Mindset em
    constante crescimento. Entusiasta e entusiasmado pela Agilidade!</p>
<p>Formado em Ciência da Computação e atuando na área de tecnologia da informação há mais de 15 anos com grande foco na
    parte de Qualidade, passando também pelas áreas de Requis
    desafios onde o de maior destaque é a atuação como Scrum
    Master de alguns times e Agile Coach junto a um núcleo de incentivo à agilidade que está responsável pelo processo
    de transformação ágil de uma empresa tradicional com décadas de existência.</p>
<p>
    <a href="https://www.linkedin.com/in/thiagojclima/" title="LinkedIn de Thiago Lima" target="_blank">
        <img alt="LinkedIn de Thiago Lima" title="LinkedIn de Thiago Lima" src="https://img.shields.io/badge/-Thiago_Lima-blue?style=flat-square&logo=Linkedin&logoColor=white&link=https://www.linkedin.com/in/thiagojclima/" style="
            padding: .25rem;
            background: #007ec6;
            float: none;
            margin-bottom: 2rem;
        ">
    </a>
</p>

<hr>

<h2 id="contato">Contato</h2>
<dl>
    <dt>Email</dt>
    <dd><a href="mailto:{{site.author.email}}" title="{{site.author.email}}">{{site.author.email}}</a></dd>
    <dt>Celular</dt>
    <dd><a href="tel:+5581986955803" title="{{site.author.phone}}">{{site.author.phone}}</a></dd>
    <dt>LinkedIn</dt>
    <dd><a href="https://www.linkedin.com/in/thiagojclima/" title="LinkedIn de Thiago Lima" target="_blank">linkedin.com/in/thiagojclima</a></dd>
</dl>
<hr>

<h2 id="experiencia">Experiência profissional</h2>
<div class="cv">

    <div class="experiencia experiencia-mesa">
        <img src="{{site.url}}/img/cv/empresa/mesa.svg" alt="Logo da Mesa" title="Mesa">
        <strong>Scrum Master</strong> <span>Mesa Mobile Thinking</span> <small>Maio/2020 até o momento</small>
        <div class="descricao">
            <ul>
                <li>Participação/Condução dos eventos de Revisão, Planejamento e Retrospectiva das sprints.</li>
                <li>Acompanhamento das atividades de times multifuncionais.</li>
                <li>Identificação e mitigação de riscos.</li>
                <li>Análise de resultados.</li>
                <li>Mentoria em Scrum.</li>
                <li>Facilitação/Workshops sobre agilidade e lean.</li>
                <li>Atuação no processo de transformação digital ágil.</li>
            </ul>
        </div>
    </div>



    <div class="experiencia experiencia-procenge-tecnologia">
        <img src="{{site.url}}/img/cv/empresa/procenge.png" alt="Logo da Procenge" title="Procenge">
        <strong>Scrum Master</strong> <span>Procenge
            Tecnologia</span> <small>Maio/2020 até o momento</small>
        <div class="descricao">
            <ul>
                <li>Participação/Condução dos eventos de Revisão, Planejamento e Retrospectiva das sprints.</li>
                <li>Acompanhamento das atividades de times multifuncionais.</li>
                <li>Identificação e mitigação de riscos.</li>
                <li>Análise de resultados.</li>
                <li>Mentoria em Scrum.</li>
                <li>Facilitação/Workshops sobre agilidade e lean.</li>
                <li>Atuação no processo de transformação digital ágil.</li>
            </ul>
        </div>
    </div>





    <div class="experiencia experiencia-cesar">
        <img src="{{site.url}}/img/cv/empresa/cesar.png" alt="Logo da Procenge" title="Procenge">


        <strong>CESAR</strong>
        <small>Julho/2015 -
            Fevereiro/2019 (3 anos e 8 meses)</small>
        <div class="descricao">
            <strong>Líder de Time</strong>
            <small>Julho/2015 -
                Fevereiro/2019 (3 anos e 8 meses)</small>
            <ul>
                <li>Reuniões de definição de escopo e negociação de estimativas</li>
                <li>Criação/Acompanhamento de cronogramas de atividades</li>
                <li>Acompanhamento diário das atividades</li>
                <li>Mapeamento de mudança de escopo, riscos e impedimentos</li>
                <li>Condução das reuniões de retrospectiva</li>
                <li>Reuniões individuais de feedback e avaliação de desempenho</li>
            </ul>
        </div>
        <div class="descricao">
            <strong>Engenheiro de Requisitos</strong> <small>Julho/2015 - Janeiro/2019 (3 anos e 7 meses)</small>
            <ul>
                <li>Utilização de processos e boas práticas de metodologias ágeis (Scrum e Kanban)</li>
                <li>Criação de questionários para as entrevistas junto ao cliente</li>
                <li>Condução de reuniões de levantamento de informações</li>
                <li>Documentação dos requisitos</li>
                <li>Identificação das premissas e restrições</li>
                <li>Condução de Workshops de Requisitos</li>
                <li>Mapeamento de mudanças de requisitos e análise de impacto</li>
                <li>Criação de estórias de usuário</li>
                <li>Criação do backlog e priorização dos seus itens</li>
                <li>Acompanhamento diário do processo evolutivo do desenvolvimento da sprint</li>
                <li>Mediação e resolução de conflitos</li>
            </ul>
        </div>

        <div class="descricao"><strong>Líder de Testes | QA</strong> <small>Janeiro/2015 - Junho/2015 (6 meses)</small>

            <ul>
                <li>Criação de relatórios gerais de atividades</li>
                <li>Acompanhamento de atividades</li>
                <li>Definição e análise de estimativas</li>
                <li>Definição das estratégia de escrita e execução dos testes</li>
                <li>Acompanhamento do desenvolvimento profissional do time e feedbacks</li>
                <li>Análise e Revisão dos Planos de Testes e Base de Casos de Testes gerados</li>
            </ul>
        </div>

        <div class="descricao">

            <strong>Engenheiro de Testes | QA</strong>
            <small>Abril/2004 - Janeiro/2015 (10 anos e 10 meses)</small>
            <ul>
                <li>Planejamento dos testes</li>
                <li>Criação dos casos de testes e ciclos de execução</li>
                <li>Automação de testes básica (Junit e Selenium WebDriver)</li>
                <li>Execução de testes com registro de ocorrências (falhas e melhorias)</li>
                <li>Análise dos resultados e criação de relatórios</li>
            </ul>
        </div>
    </div>
</div>

<hr>

<h2 id="educacao">Educação</h2>

<ul class="cv">
    <li>
        <img src="{{site.url}}/img/cv/educacao/unicap.jpg" alt="Logo da Unicap" title="Unicap">
        <strong>Ciência da Computação</strong>
        <span>Universidade Católica de Pernambuco - UNICAP</span>
        <small>1996 - 2000</small>
    </li>
</ul>

<hr>

<h2 id="certificacoaes">Certificações</h2>
<ol class="cert">
    {% for certificacao in site.data.certificacoes %}
    <li class="certificacao certificacao-{{certificacao.nome | slugify}}">
        {% if certificacao.nome %}<strong>{{certificacao.nome}}</strong>{% endif %}{% if certificacao.instituicao %}<span>{{certificacao.instituicao}}</span>{% endif %} {% if certificacao.periodo %}<small>{{certificacao.periodo}}</small>{%
        endif %}
    </li>
    {% endfor %}
</ol>

<hr>


<h2 id="cursos">Cursos</h2>
<ol class="cert">
    {% for curso in site.data.cursos %}
    <li class="curso curso-{{certificacao.nome | slugify}}">
        {% if curso.nome %}<strong>{{curso.nome}}</strong>{% endif %}{% if curso.instituicao %}<span>{{curso.instituicao}}</span>{% endif %} {% if curso.periodo %}<small>{{curso.periodo}}</small>{%
        endif %}
    </li>
    {% endfor %}
</ol>


<hr>

<h2 id="informacoes-basicas"> Informações básicas</h2>
<dl>
    <dt>Data de nascimento</dt>
    <dd>24/07/1977</dd>

    <dt>Endereço</dt>
    <dd>Olida &mdash; PE</dd>
    <dt>Idiomas</dt>
    <dd>Português (nativo) e Inglês (avançado)</dd>
</dl>