<div class="sidebar">
  <div class="sidebar-container">
    <header class="site-logo">
      <h1>
        <a href="{{ site.url }}" title="Ir para a página inicial">
          <img src="{{ site.baseurl }}/img/logo.svg" title="Logo Thiago Lima"
            alt="Quadrado laranga com a letra T maúscula no canto inferior esquerdo. A baixo do quadrado, o texto Thiago Lima escrito em maúsculo">
        </a>
      </h1>
      <p class="site-description">{{ site.description }}</p>
    </header>
    <nav>
      <a title="Página inicial" href='{{site.url}}'>Página inicial</a>
      <a title="Sobre" href='{{site.url}}/sobre'>Sobre</a>
      <a title="Contao" href='{{site.url}}/sobre#contato'>Contato</a>
    </nav>
  </div>
</div>